.TodoListItem {

}

.done {
    text-decoration-line: line-through;
}

.favorite {
    color: cornflowerblue !important;
}

.formatted {
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}
